<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://mybatis.org/schema/mybatis-spring
       http://mybatis.org/schema/mybatis-spring.xsd">
       <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
              <property name="url" value="${db.url}"/>
              <property name="driverClassName" value="${db.driver}"/>
              <property name="username" value="${db.username}"/>
              <property name="password" value="${db.passwd}"/>
              <property name="initialSize" value="100"/>
              <property name="minIdle" value="100"/>
              <property name="maxActive" value="400"/>
              <!-- 链接等待超时时间 -->
              <property name="timeBetweenConnectErrorMillis" value="60000"/>
              <!-- 配置一个连接在池子中的最小生存时间 -->
              <property name="minEvictableIdleTimeMillis" value="300000"/>
              <property name="validationQuery" value="SELECT 1"/>
              <property name="testWhileIdle" value="true"/>
              <property name="testOnReturn" value="true"/>
              <!--  打开-->
              <property name="poolPreparedStatements" value="false"/>
              <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>
              <property name="filters" value="stat"/>
              <property name="removeAbandoned" value="true"/>
              <property name="logAbandoned" value="true"/>
       </bean>

       <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="dataSource" ref="dataSource"/>
              <property name="configLocation" value="classpath:mybatis_config.xml"/>
       </bean>

       <!-- DAO接口所在包名，Spring会自动查找下面的类 -->
       <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
              <property name="basePackage" value="edu.scu.cs.tlzhang.dao"/>
              <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
       </bean>

       <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
              <property name="basePackage" value="edu.scu.cs.tlzhang.mybatis.dao"/>
              <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
       </bean>

</beans>